@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --top-cars-color-bg-primary: #FFFFFF;

  --top-cars-card-color-bg: #EDEDED;

  --top-cars-header-color-bg: #F78B00;
  --top-cars-header-color-text: #00285F;

  --top-cars-button-color-bg: #00285F;
  --top-cars-button-color-text: #FFFFFF;

  --top-cars-input-border-color: #A7A7A7;
  --top-cars-input-color-text: #A7A7A7;

  --top-cars-color-text-primary: #000000;

  --top-cars-color-text-secondary: #585858;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Open Sans', 'Poppins', 'Roboto Condensed', 'Roboto Mono', sans-serif;
}

html, body {
  background-color: var(--top-cars-color-bg-primary);
}

.top-cars-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

@media(min-width: 576px) {
  .top-cars-container {
    padding: 0 16px;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
  }
}


/*--------------------------------------*/
/* header styles */

nav h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--top-cars-header-color-text);
}

/*------------------------------------------------------*/
/*----------------- Search bar styles ------------------*/

@media(min-width: 576px) {
  .top-cars-search-bar {
   
  }
}